[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
six = "*"
django-cors-headers = "*"
django-environ = "*"
psycopg2 = "*"
django-filter = "*"
django-extensions = "*"
django-redis = "*"
django-storages = "*"
boto3 = "*"
django-axes = "*"

[dev-packages]

[requires]
python_version = "3.12"
